<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DevelopmentEnvironmentDb" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DynamicConnectionString-20190623113054.mdf;Initial Catalog=aspnet-DynamicConnectionString-20190623113054;Integrated Security=True" providerName="System.Data.SqlClient" />

  <add name="TestingEnvironmentDb" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DynamicConnectionString-20190623113054.mdf;Initial Catalog=aspnet-DynamicConnectionString-20190623113054;Integrated Security=True" providerName="System.Data.SqlClient" />

  <add name="ProductionEnvironmentDb" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DynamicConnectionString-20190623113054.mdf;Initial Catalog=aspnet-DynamicConnectionString-20190623113054;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>